<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">

  <div>
      <h3>Khóa học của tôi</h3>
      <a class ="trash" href="/me/trash/courses">
      
      Thùng rác
      <span class= "trash__deleted-course">{{deletedCourses}}</span>
      </a>

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>
        <select class="form-control form-control-sm checkbox-select-all-options " name="action" required = "required">
        <option value = "">-- Chọn hành động</option>
        <option value = "delete">Xóa</option>
        
        </select>


        <button class="btn btn-primary btn-sm  btn-check-all-submit" disabled="disabled">Thực hiện</button>
        
      </div>
     
  </div>

  
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col" colspan="2">#</th>
          <th scope="col">
            Tên khóa học
            {{{sortable 'name' _sort}}}
            
          </th>
          <th scope="col">
            Mô tả
            {{{sortable 'description' _sort}}}
          </th>
          <th scope="col" colspan="2">Công cụ</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name = "courseIds[]" value="{{this._id}}" >
              
            </div>
        </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-success">Sửa</a>
          </td>
          <td>
            <form method="POST" action="/courses/{{this._id}}?_method=DELETE">
              <button type="submit" class="btn btn-danger">Xóa</button>
            
            </form>
        </tr>

        {{else}}
          <tr>
            <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
              <a href="/courses/creat">Đăng khóa học</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
  </table>
</form>

<script>
  //Dùng Jquery
  document.addEventListener('DOMContentLoaded',function() {
    var checkboxAll = $('#checkbox-all');
    var btnCheckAllSubmit = $('.btn-check-all-submit');
   // var containerForm = document.forms['container-form']
    var containerForm = $("form[name = 'container-form']");
    var courseItemCheckbox = $('input[name = "courseIds[]"]');
    console.log(containerForm)
    
    //Checkbox All change
    checkboxAll.change(function() {
      var isCheckedAll = $(this).prop('checked'); //Kiểm tra xem checkbox đã check chưa trả về Boolean
      courseItemCheckbox.prop('checked',isCheckedAll)
      renderCheckAllSubmitBtn()
    
    })

    //Course item checkbox change
    courseItemCheckbox.change(function() {
      var courseItemCheckedAll = courseItemCheckbox.length === $('input[name = "courseIds[]"]:checked').length //kiểm tra  length của số ô đã check và length của các ô checkbox 
      checkboxAll.prop('checked', courseItemCheckedAll);
      renderCheckAllSubmitBtn()
    })

  //Render lại check all submit btn
    function renderCheckAllSubmitBtn() {
      var checkedCount =  $('input[name = "courseIds[]"]:checked').length
      if(checkedCount > 0) {
        btnCheckAllSubmit.attr('disabled',false);
      }
      else {
        btnCheckAllSubmit.attr('disabled',true);
      }
    }
  //Cách 2 thêm attr disabled vào thẻ button rồi sau đó add và remove attribute ở function trên
    
  })


  
</script>




{{!-- cách 1
Lắng nghe sự kiện onsubmit của thẻ form nếu mà  button thực hiện có class disabled thì ko submit
    containerForm.on('submit',function(e) {
      var isSubmitable = BtnCheckAllSubmit.hasClass('disabled');
      if(isSubmitable) {
      e.preventDefault();
    }
    }) --}}
  



{{!-- Xác nhận xóa --}}
{{!-- <div class="modal" tabindex="-1" role="dialog" id="delete-courses-modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hộp thoại xác nhận</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có xác nhận xóa ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Có</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div> --}}

{{!-- Cách 2 khi có hộp thoại --}}
{{!-- Delete hidden form --}}
{{!-- <form method="POST" name="delete-course-form"></form> --}}

{{!-- Cách 2 khi có hộp thoại --}}
{{!-- 
 //Khi DOM chạy xong mới lọt vào callback function dưới
  document.addEventListener('DOMContentLoaded',function() {
    var courseId;
    var deleteForm = document.forms["delete-course-form"];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

  //Khi modal được show lên sẽ lọt vào sự kiện dưới
    $('#delete-courses-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) ;
    courseId = button.data('id') ;
    })

    
    btnDeleteCourse.onclick = function() {
    deleteForm.action = `/courses/${courseId}?_method=DELETE`;
    deleteForm.submit(); //phương thức giúp submit form
  }
    
  })  --}}