<div class="mt-4">

  <div>
      <h3>Khóa học đã xóa</h3>
      <a href="/me/stored/courses">Danh sách khóa học</a>
  </div>


    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên khóa học</th>
          <th scope="col">Mô tả</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>
            <form method="POST" action="/courses/{{this._id}}/restore?_method=PUT">
            
              <button type = "submit" class="btn btn-success " >Khôi phục</button>
              
            </form>
          </td>
          <td>
            <form method="POST" action="/courses/{{this._id}}/forceDelete?_method=DELETE">
              <button type="submit" class="btn btn-danger">Xóa vĩnh viễn</button>
            
            </form>
        </tr>

        {{else}}
          <tr>
            <td colspan="5" class="text-center">Thùng rác trống.
              <a href="/me/stored/courses">Danh sách khóa học</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
  </table>
</div>


