<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% var name = 'Đức' %>
    <h1>Xin chào <%= name %></h1>
    <% var a = 10 %>
    <%= a*2 %>
    <h2>Biến có giá trị là <%= a %></h2>

    <%
      for (var i = 0; i < 10; i++) 
      {
    %>
          <%= i %> 
    <%    

      }
    %>

    <% var array = ['Javascript','PHP','C++']; 
    for (var j = 0; j < array.length; j++ ) {%>
      <li>
        <%= array[j] %>
      </li>
      <%
      }  
    %>

    <% var array2 = ['Duc','Hung','Quan'];
    array2.forEach(function(value) {
    %> 
    <li>
      <%= value%>
    </li>
      
    <%
    })
    %>

    <% var x = "<h1 style = 'color: red;'> Hello </h1>" %>

    <%- x %>

   

   
    
    
  
  </body>
</html>
